{*

	MODULE = list of modules
	
	MODULE.TITLE = List of Module Titles
	MODULE.RESULT = Content tree of this module
	
	RESULT.LEVEL = Level of the content
	RESULT.TITLE = Title of the content
	RESULT.LINK = Link to the content

*}

{LEVEL = 0}
{list MODULE}

	<h2>{MODULE.TITLE}</h2>
	
	<ul>
	{list MODULE.RESULT}

		{if RESULT.LEVEL < LEVEL}
			</ul>
		{else}
			{if RESULT.LEVEL > LEVEL}
				<ul>
			{/if}
		{/if}		
		
		<li>
			<a href="{RESULT.LINK}">{RESULT.TITLE}</a>
		</li>
		
		{LEVEL = RESULT.LEVEL}
	{/list}
	</ul>

{/list}